.navbar {
    height: 56px;
    min-height: 56px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
    margin-bottom: 20px;
    border: 1px solid #f0f0f0;
    background-color: #fff;
}

.nav_content {
    min-width: 768px;
    max-width: 1440px;
    margin: 0 auto;
}

.nav_logo {
    float: left;
    height: 56px;
    padding: 0;
    cursor: pointer;
    color: #337ab7;
    text-decoration: none;
    background-color: transparent;
}

.nav_logo_img {
    height: 100%;
    vertical-align: middle;    
    border: 0;
}